/*GERAL*/
*{
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: abelRegular;
  src: url("../fonts/abelRegular.ttf");
}

/*----------------------------------------------------------------------------*/
/*MENU*/
.menu, html, body{
  height: 100%;
}

.menu{
  display: flex;
  flex-direction: row;

}

.menu ul{
  text-align: center;
}

/*----------------------------------------------------------------------------*/
/*BOX-1*/
.box-1{
  background-color: #313B3F;
  flex:1;
  align-items: center;
  text-align: center;
}

.box-1 img{
  height: 180px;
  width: 180px;
  border: 3px solid black;
  border-radius: 50%;
  margin-top: 40px;
}

.box-1 ul li{
  text-decoration: none;
  padding: 5px 20px;
  background-color: #00B4CC;
}

.box-1 ul li:hover{
  text-decoration: none;
  padding: 5px 20px;
  background-color: #018b9e;
}

.box-1 ul li a{
  text-decoration: none;
  font: 14px abelRegular;
  color: white;
}

/*----------------------------------------------------------------------------*/
/*BOX-2*/
.box-2{
  display: flex;
  flex-direction: column;
  background-image: url("../img/background.png");
  flex: 5;
}

.box-2 h1{
  background-color: #BEEEF4;
  text-align:center;
  font-family: abelRegular;
  font-size: 50px;
}

.box-2 .subTitulo{
  background-color: #BEEEF4;
  text-align:center;
  font-family: abelRegular;
  display: flex;
  flex-direction: column;
}

.contato {
  padding: 5px;
  margin: 15px 250px;
  background-color: #00B4CC;
  text-align: center;
}

.conteudo {
  text-align: justify;
  margin: 30px;
}

.rodape{
  height: 100%;
  display:flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
}

.rodape a img{
  width: 50px;
  border: 3px solid black;
  border-radius: 50%;
}

/*formContato*/
.formContato{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: rgb(194, 232, 200);
}

.formContato label{
  padding-top: 15px;
}

.formContato .botoes input{
  padding:5px 10px;

}
