.container, html, body{
  height:100%;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: abelRegular;
  src: url("../fonts/abelRegular.ttf");
}

.box-1{
  display:flex;
  justify-content: center;
  background-color: #313B3F;
  flex: 1;
}

#menu{
  display: flex;
  flex-direction: row;
}

#menu #fotoPrincipal{
  width: 150px;
  border: 3px solid black;
  border-radius: 50%;
}

#menu ul{
  margin-top: 40px;
}

#menu ul a{
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  margin: 0;
  text-align: center;
  font-family: abelRegular;
}

#menu ul a li{
  width: 100px;
  color: white;
}

#menu ul a li:hover{
  font-size: 40px;
  color: blue;
}

.box-2{
  display: flex;
  flex-direction: column;
  flex: 3;
  background-image: url("../img/background.png");
}

#conteudo{
  height: 100%;
}

#conteudo .titulo{
  display: flex;
  background-color: #BEEEF4;
  flex-direction: column;
  text-align: center;
  font-family: abelRegular;
}

#rodape{
  height: 50%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

#rodape a img{
  width: 50px;
  border: 3px solid black;
  border-radius: 50%;
  margin: 20px;
}

#rodape a img:hover{
  width: 60px;
  opacity: 0.4;
}

#redesSociais{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#texto .titulo-perfil{
  
  background-color: #00B4CC;
  text-align: center;
  font-family: abelRegular;
}

#texto .texto-perfil{
  text-align: center;
  font-family: abelRegular;
}

#texto .texto-perfil ul{
  list-style:none;
}

#texto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slides{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 200px;
}


@media screen and (min-width:768px) {
  .container{
    flex-direction: row;
  }
  #menu{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #menu #fotoPrincipal{
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border: 3px solid black;
    border-radius: 50%;
  }

  #menu ul{
    margin-top: 50px;
    text-align:center;
    margin-left: 40px;
  }

  #menu ul li{
    margin-top: 10px;
  }

  #menu ul a{
    text-align: center;
    font-family: abelRegular;
    font-size: 25px;
    font-weight: 20;
  }
  #texto .titulo-perfil{
    padding: 5px 240px;
    margin: 15px 250px;
    background-color: #00B4CC;
    text-align: center;
  }

  #conteudo .subTitulo{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    justify-content:space-around;
    font-family: abelRegular;
  }

  #rodape{
    height: 100%;
  }

  #texto{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .slides{
    width: 350px;
  }

}
